
@{
    ViewData["Title"] = "New";
    ViewData["type"] = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .showlist {
        display: none
    }
</style>

<script>
    function addArticle() {
        $(".row").addClass("showlist")
        $(".row").next().removeClass("showlist")
    }
</script>


<div class="row-content am-cf">
    <div class="row ">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">新闻列表</div>
                </div>
                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" onclick="addArticle()" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                        <div class="am-form-group tpl-table-list-select">
                            <select data-am-selected="{btnSize: 'sm'}" style="display: none;">
                                <option value="option1">所有类别</option>
                                <option value="option2">IT业界</option>
                                <option value="option3">数码产品</option>
                                <option value="option3">笔记本电脑</option>
                                <option value="option3">平板电脑</option>
                                <option value="option3">只能手机</option>
                                <option value="option3">超极本</option>
                            </select><div class="am-selected am-dropdown " id="am-selected-5ukfq" data-am-dropdown="">  <button type="button" class="am-selected-btn am-btn am-dropdown-toggle am-btn-sm am-btn-default">    <span class="am-selected-status am-fl">所有类别</span>    <i class="am-selected-icon am-icon-caret-down"></i>  </button>  <div class="am-selected-content am-dropdown-content">    <h2 class="am-selected-header"><span class="am-icon-chevron-left">返回</span></h2>       <ul class="am-selected-list">                     <li class="am-checked" data-index="0" data-group="0" data-value="option1">         <span class="am-selected-text">所有类别</span>         <i class="am-icon-check"></i></li>                                 <li class="" data-index="1" data-group="0" data-value="option2">         <span class="am-selected-text">IT业界</span>         <i class="am-icon-check"></i></li>                                 <li class="" data-index="2" data-group="0" data-value="option3">         <span class="am-selected-text">数码产品</span>         <i class="am-icon-check"></i></li>                                 <li class="" data-index="3" data-group="0" data-value="option3">         <span class="am-selected-text">笔记本电脑</span>         <i class="am-icon-check"></i></li>                                 <li class="" data-index="4" data-group="0" data-value="option3">         <span class="am-selected-text">平板电脑</span>         <i class="am-icon-check"></i></li>                                 <li class="" data-index="5" data-group="0" data-value="option3">         <span class="am-selected-text">只能手机</span>         <i class="am-icon-check"></i></li>                                 <li class="" data-index="6" data-group="0" data-value="option3">         <span class="am-selected-text">超极本</span>         <i class="am-icon-check"></i></li>            </ul>    <div class="am-selected-hint"></div>  </div></div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input type="text" class="am-form-field ">
                            <span class="am-input-group-btn">
                                <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                            </span>
                        </div>
                    </div>

                    <div class="am-u-sm-12">
                        <table class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                            <thead>
                                <tr>
                                    <th>文章ID</th>
                                    <th>文章标题</th>
                                    <th>文章栏目</th>
                                    <th>作者</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="itemtr">
                                <tr class="gradeX" is="item-row" v-for="(item, indexs) in items" v-on:editclick="editclick" v-on:removeclick="removeclick" v-bind:item="item"></tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">

                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row showlist">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">添加文章</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body am-fr">

                    <form class="am-form tpl-form-line-form" id="AddArticle" action="/Web/AddArticle">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">标题 <span class="tpl-form-line-small-title">Title</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" name="Title" placeholder="请输入标题文字">
                                <small>请填写标题文字10-20字左右。</small>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">栏目 <span class="tpl-form-line-small-title">Column</span></label>
                            <div class="am-u-sm-9">
                                <select name="ColumnID" id="Column">
                                    <option v-for="Column in Columns" v-bind:value="Column.id">{{ Column.columnName }}</option>
                                </select>
                            </div>
                        </div>


                        <div class="am-form-group">
                            <label for="user-intro" class="am-u-sm-3 am-form-label">文章内容</label>
                            <input type="text" name="content" id="neirong" style="display:none" />
                            <div class="am-u-sm-9" id="content" v-model="message">

                            </div>


                        </div>
                        <div id="hiddnode">
                            <input type="text" name="createUserID" value="@User.Identity.Name" />
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <input type="hidden" name="type" value=" @ViewBag.type" />
                                <button type="button" id="sub" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                <button type="button" id="EditArticle" class="am-btn am-btn-primary tpl-btn-bg-color-success " style="display:none">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        @*<script src="https://cdn.bootcss.com/vue/2.2.6/vue.js"></script>*@
        <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>


        <script type="text/javascript">
            var editor = new window.wangEditor('#content')

            //editor.customConfig.uploadImgShowBase64 = true;
            editor.customConfig.uploadImgServer = '/Upload/UploadImg'

            editor.customConfig.menus = [
                'head',
                'bold',
                'fontSize',
                'fontName',
                'italic',
                'underline',
                'strikeThrough',
                'foreColor',
                'table',
                'image',
                'undo',
            ]
            editor.create()


            $("#sub").click(function () {
                $("#neirong").val(editor.txt.html());
                var formObject = $("#AddArticle");
                $.post(formObject.attr("action"), formObject.serialize(), function (info) {
                    if (info.code === 1) {
                        setTimeout(function () {
                            history.go(0);
                        }, 1000);

                    }
                    layer.msg(info.msg);

                })

            })





        </script>


    </div>


</div>


<script type="text/x-template" id="item-tr">
    <tr v-bind:id="'tr_' +item.aid">
        <td>{{ item.aid }}</td>
        <td>{{item.title}}</td>
        <td>{{item.columnName}}</td>
        <td>{{item.username}}</td>
        <td>{{item.createTime}}</td>
        <td>
            <button class="btn btn-success btn-xs" v-on:click="editclick">编辑</button>
            <button class="btn btn-danger btn-xs" v-on:click="removeclick">删除</button>
        </td>
    </tr>
</script>
<script type="text/javascript">
    Vue.component("item-row", {
        props: ["item"],
        template: "#item-tr",
        methods: {
            editclick: function () {
                this.$emit('editclick', this.item)
            },
            removeclick: function () {
                this.$emit('removeclick', this.item)
            }
        }
    })

    $(function () {
        loadArticleList();
        loadColumnList();

    })

    function loadColumnList() {
        $.ajax({
            method: "POST",
            url: "/Web/getallColumn",
            data: {},
            success: function (backData) {
                console.log(backData);
                if (backData.code == 1) {
                    var Column = new Vue({
                        el: "#Column",
                        data: {
                            Columns: backData.data
                        }
                    })
                }
            },
            error: function (error) {

                layer.msg(error.statusText);
            }
        })
    }


    function loadArticleList() {
        $.ajax({
            method: "POST",
            url: "/Web/getallArticle",
            data: {type:@ViewBag.type},
            success: function (backData) {
                console.log(backData);
                if (backData.code == 1) {

                    new Vue({
                        el: '#itemtr',
                        data: {
                            items: backData.data
                        },
                        methods: {
                            editclick: function (itemObject) {
                                editclick(itemObject)
                            },
                            removeclick: function (itemObject) {
                                removeclick(itemObject);

                            }
                        }
                    })

                } else {
                    layer.msg(backData.msg);
                }

            },
            error: function (error) {

                layer.msg(error.statusText);
            }
        })
    }
    var editVue = null;
    function editclick(itemObject) {
        console.log(itemObject)
        $(".row").addClass("showlist")
        $(".row").next().removeClass("showlist")
        $("#Column").val(itemObject.columnID);
        $("input[name='Title']").val(itemObject.title);
        editor.txt.html(itemObject.content);
        $("#hiddnode").append("<input type='hidden' name='createTime' value=" + itemObject.createTime+">");
        $("#hiddnode").append("<input type='hidden' name='createUserID' value=" + itemObject.createUserID + ">");
        $("#hiddnode").append("<input type='hidden' name='id' value=" + itemObject.aid + ">");
        $("#hiddnode").append("<input type='hidden' name='type' value=" + itemObject.type + ">");

        $("#sub").hide();
        $("#EditArticle").show();

    }


        $("#EditArticle").click(function () {
            $("#neirong").val(editor.txt.html());
            var formObject = $("#AddArticle");
            $.post("/Web/EditArticle", formObject.serialize(), function (info) {
                console.log(info)
                if (info.code === 1) {
                    setTimeout(function () {
                        history.go(0);
                    }, 1000);
                }
                layer.msg(info.msg);

            })
        })


    function removeclick(itemObject) {
        console.log(itemObject)
        $.ajax({
            method: "POST",
            url: "/Web/DelArticle",
            data: { articleid: itemObject.aid},
            success: function (backData) {
                console.log(backData);
                if (backData.code == 1) {
                    $("#tr_" + itemObject.aid).remove();
                }
            },
            error: function (error) {

                layer.msg(error.statusText);
            }
        })

    }




</script>